{% extends 'blog/base.html' %}
{% block content %}
<h1>About Blog</h1><br>
<p id="about">This Blog Application contains the information of few Published Posts like Python, Django, HTML, JavaScript, CSS and
Bootstrap and few Drafted Posts are also available like Java and jQuery. In this Application we can create a new Post, only the Post
Creator can modify the existing post or delete the post which is not required and we can Comment to any post, for all these
activities you required to login. We can View all the Post and Details without logging In.<br><br>

<h3>Thanks for visiting to my Blog!!!!!!!</h3>

{% endblock %}
